# Ignore model files and datasets
models/
data/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
*.egg-info/

# Ignore Streamlit cache
.streamlit/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Environment variables or secret keys (if any)
.env